<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<div class="admin-page">
    <div th:replace="fragments.html :: admin-page-sidebar(currentMenu = 'review')"></div>
    <div class="admin-page-contents">
        <div class="admin-page-title">
            <h2>리뷰관리</h2>
        </div>
        <div class="admin-page-content-wrapper"
             th:with="email=${adminReviewSearchForm.email},
                      productName=${adminReviewSearchForm.productName},
                      exceptDeleted=${adminReviewSearchForm.exceptDeleted}">
            <div class="admin-search-bar">
                <input id="email" type="search" placeholder="이메일을 검색해주세요." th:value="${email}">
            </div>
            <div class="admin-search-bar">
                <input id="productName" type="search" placeholder="상품명을 검색해주세요." th:value="${productName}">
            </div>
            <div class="admin-search-filter">
                <ul class="info-filter">
                    <li>
                        <div class="form-check">
                            <input id="exceptDeleted" type="checkbox" class="form-check-input" th:checked="${exceptDeleted}" />
                            <label for="exceptDeleted" class="form-check-label">삭제된 리뷰 제외</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="admin-search-btn-wrapper">
                <button id="search" type="button" class="btn btn-search">조건검색</button>
                <button id="searchReset" type="button" class="btn btn-search-reset">초기화</button>
            </div>
            <div class="search-number-wrapper">
                총 <span class="search-number" th:text="${reviewPage.getTotalElements()}"></span> 개의 검색 결과가 있습니다.
            </div>
            <div class="admin-table-wrapper">
                <table class="table admin-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">사용자정보</th>
                            <th scope="col">상품정보</th>
                            <th scope="col">평점</th>
                            <th scope="col">내용</th>
                            <th scope="col">리뷰이미지</th>
                            <th scope="col">작성일(수정일)</th>
                            <th scope="col">삭제여부</th>
                        </tr>
                    </thead>
                    <tbody th:with="reviewList=${reviewPage.getContent()}, offset=${reviewPage.getNumber() * reviewPage.getSize()}">
                        <tr th:each="r : ${reviewList}" th:with="p=${r.product}, a=${r.account}">
                            <td scope="row"><span th:text="${offset + rStat.count}"></span></td>
                            <td>
                                <a th:href="@{'/admin/management/account/' + ${a.id}}">
                                    <div class="summary-info-container">
                                        <div class="summary-info-wrapper">
                                            <div class="summary-info"><span th:text="${a.email}"></span></div>
                                            <div class="summary-info"><span th:text="${a.name}"></span>(<span th:text="${a.gender.getName()}"></span>)</div>
                                            <div class="summary-info"><span th:text="${a.membership.getName()}"></span></div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="summary-info-container">
                                    <div th:replace="fragments.html :: thumbnail-container(thumbnail = ${p.thumbnail})"></div>
                                    <div class="summary-info-wrapper">
                                        <div class="summary-info">
                                            <span th:text="${p.name}"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><span th:text="${r.rank}"></span></td>
                            <td class="content"><span th:text="${r.content}"></span></td>
                            <td><div th:replace="fragments.html :: thumbnail-container(thumbnail = ${r.image})"></div></td>
                            <td>
                                <div><span th:text="${r.createdDateTime}" class="date"></span></div>
                                <div>(<span th:text="${r.updatedDateTime == null ? '수정안함' : r.updatedDateTime}" th:classappend="${r.updatedDateTime != null}?date"></span>)</div>
                            </td>
                            <td class="option" th:data-review-id="${r.id}" th:data-account-id="${a.id}">
                                <div th:text="${r.deleted ? '삭제됨' : '게시중'}"></div>
                                <button th:if="${!r.deleted}" type="button" class="admin-delete-btn">삭제하기</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="fragments.html :: pagination(page = ${reviewPage}, url = '/admin/management/review', querystring = |email=${email}&productName=${productName}&exceptDeleted=${exceptDeleted}|)"></div>
        </div>
    </div>
</div>

<div th:include="fragments.html :: admin-common-js-func" th:remove="tag"></div>
<div th:replace="fragments.html :: price-with-comma"></div>
<div th:include="fragments.html :: date-format" th:remove="tag"></div>
<div th:replace="fragments.html :: ajax-csrf-header"></div>
<div th:replace="fragments.html :: ajax-feedback-message"></div>
<script type="application/javascript">
    $(function () {
        const $email = $("#email");
        const $productName = $("#productName");
        const $exceptDeleted = $("#exceptDeleted");

        const $searchBtn = $("button#search");
        const $resetBtn = $("button#searchReset");

        const $deleteBtn = $("button.admin-delete-btn");

        // 리뷰 검색
        $searchBtn.click(function (e) {
            location.href = getReviewUrl();
        });

        // 검색 옵션 초기화
        $resetBtn.click(function (e) {
            $email.val('');
            $productName.val('');
            $exceptDeleted.prop('checked', false);
        });

        // 리뷰 삭제 처리
        $deleteBtn.click(function (e) {
            if (confirm("리뷰를 삭제하시겠습니까?")) {
                const reviewToDelete = e.currentTarget.closest("td.option");
                const reviewId = reviewToDelete.dataset.reviewId;
                const accountId = reviewToDelete.dataset.accountId;

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/admin/review/delete",
                    data: JSON.stringify({
                        reviewId,
                        accountId
                    })
                }).done(function (data, status) {
                    alert("리뷰를 삭제처리했습니다.");
                    location.href = getReviewUrl();
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setFeedback(jqXHR);
                });
            }
        });

        function getReviewUrl() {
            let url = '/admin/management/review?'
                + '&email=' + $email.val()
                + '&productName=' + $productName.val()
                + '&exceptDeleted=' + $exceptDeleted.prop('checked');
            return url;
        }
    });
</script>

</body>
</html>