<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row py-5 text-center">
        <div class="col-3">
            <ul class="list-group">
                <a th:href="@{'/notifications'}" th:classappend="${isNew}? active"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    읽지 않은 알림
                    <span th:text="${numberOfNotChecked}"></span>
                </a>
                <a th:href="@{'/notifications/old'}" th:classappend="${!isNew}? active"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    읽은 알림
                    <span th:text="${numberOfChecked}"></span>
                </a>
            </ul>
            <ul class="list-group mt-4">
                <a href="#" th:if="${accountNotificationList.size() > 0}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    사용자 정보 알림
                    <span th:text="${accountNotificationList.size()}"></span>
                </a>
                <a href="#" th:if="${orderNotificationList.size() > 0}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    주문 상태 변경 알림
                    <span th:text="${orderNotificationList.size()}"></span>
                </a>
                <a href="#" th:if="${qnaNotificationList.size() > 0}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Q&A 답변 알림
                    <span th:text="${qnaNotificationList.size()}"></span>
                </a>
            </ul>
        </div>
        <div class="col-9 row justify-content-center">
            <div class="col-9">
                <div class="card" th:if="${notificationList.size() == 0}">
                    <div class="card-header">
                        알림 메시지가 없습니다.
                    </div>
                </div>
                <div th:if="${isNew && numberOfNotChecked > 0}" class="mb-4 text-end">
                    <form th:action="@{'/notifications/read'}" method="post">
                        <button type="submit" class="btn btn-block btn-dark">
                            모두 읽음
                        </button>
                    </form>
                </div>
                <div th:if="${!isNew && numberOfChecked > 0}" class="mb-4 text-end">
                    <form th:action="@{'/notifications/delete'}" method="post">
                        <button type="submit" class="btn btn-block btn-outline-warning" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="삭제하지 않아도 한달이 지난 알림은 사라집니다.">
                            읽은 알림 삭제
                        </button>
                    </form>
                </div>
                <div class="card" th:if="${accountNotificationList.size() > 0}">
                    <div class="card-header">
                        사용자 정보 관련 알림 정보가 있습니다.
                    </div>
                    <div th:replace="fragments.html :: notification-list (notificationList=${accountNotificationList})"></div>
                </div>
                <div class="card mt-4" th:if="${orderNotificationList.size() > 0}">
                    <div class="card-header">
                        주문 상태 변경 관련 알림 정보가 있습니다.
                    </div>
                    <div th:replace="fragments.html :: notification-list (notificationList=${orderNotificationList})"></div>
                </div>
                <div class="card mt-4" th:if="${qnaNotificationList.size() > 0}">
                    <div class="card-header">
                        Q&A 답변 관련 알림 정보가 있습니다.
                    </div>
                    <div th:replace="fragments.html :: notification-list (notificationList=${qnaNotificationList})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: main-footer"></div>
<div th:include="fragments.html :: common-js-func" th:remove="tag"></div>
<div th:include="fragments.html :: date-format" th:remove="tag"></div>
<script th:replace="fragments.html :: tooltip"></script>

</body>
</html>