<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>

<div th:replace="fragments.html :: main-nav"></div>
<div class="mypage">
    <div th:replace="fragments.html :: mypage-nav"></div>
    <div class="mypage-contents">
        <div class="paragraph-title">
            <h2>정보 수정</h2>
        </div>
        <div class="mypage-content-wrapper">
            <div class="mypage-content-title">이메일 인증</div>
            <div th:if="${account.emailVerified}">
                <small class="text-muted">이미 인증이 완료된 상태입니다.</small>
            </div>
            <div th:if="${!account.emailVerified}">
                <small class="text-muted d-block mb-3">이메일 인증을 완료해야 주문을 할 수 있습니다.</small>
                <button id="vcResendBtn" class="btn btn-secondary" th:classappend="${account.getEmailCheckTokenCoolTime() > 0}?'disabled'">인증코드 재전송</button>
            </div>
        </div>
        <div class="mypage-content-wrapper">
            <div class="mypage-content-title">개인 정보</div>
            <form th:object="${detailsForm}" th:action="@{/mypage/edit/info/details}" method="post" id="detailsForm" novalidate>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input th:field="*{name}" id="name" type="text" class="form-control" maxlength="50" placeholder="이름을 입력해 주세요." />
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <label for="gender">성별</label>
                    <select th:field="*{gender}" id="gender" class="form-select">
                        <option value="" selected>성별</option>
                        <option value="M">남</option>
                        <option value="F">여</option>
                        <option value="U">선택 안함</option>
                    </select>
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <label for="birthday">생일</label>
                    <input th:field="*{birthday}" id="birthday" type="date" class="form-control" />
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">휴대폰번호</label>
                    <input th:field="*{phoneNumber}" id="phoneNumber" type="text" pattern="\d*" class="form-control" maxlength="11" placeholder="전화번호를 (-)없이 입력해주세요." />
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <label for="address1">주소</label>
                    <div class="row g-0 justify-content-between">
                        <div class="col-8">
                            <input th:field="*{address1}" id="address1" type="text" class="form-control" disabled />
                        </div>
                        <div class="col-4">
                            <button id="addressBtn" type="button" class="btn zip-code-btn">우편번호찾기</button>
                        </div>
                    </div>
                    <input th:field="*{address2}" id="address2" type="text" class="form-control" disabled />
                    <input th:field="*{address3}" id="address3" type="text" class="form-control" placeholder="상세주소를 입력해주세요." />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary d-block w-100">변경하기</button>
                </div>
            </form>
        </div>
        <div class="mypage-content-wrapper">
            <div class="mypage-content-title">로그인 정보</div>
            <form th:object="${passwordForm}" th:action="@{/mypage/edit/info/password}" method="post" id="passwordForm" novalidate>
                <div class="form-group">
                    <label for="currentPassword">현재 비밀번호</label>
                    <input th:field="*{currentPassword}" id="currentPassword" type="password" class="form-control" maxlength="20" autocomplete="off" placeholder="현재 비밀번호를 입력해 주세요." />
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <label for="newPassword1">새 비밀번호</label>
                    <input th:field="*{newPassword1}" id="newPassword1" type="password" class="form-control" maxlength="20" autocomplete="off" placeholder="새 비밀번호를 입력해 주세요." aria-describedby="passwordHelp" />
                    <small id="passwordHelp" class="form-text text-muted">
                        영문자, 숫자, 특수기호를 포함하여 공백없이 8자이상 입력해야 합니다.
                    </small>
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <label for="newPassword2">비밀번호 확인</label>
                    <input th:field="*{newPassword2}" id="newPassword2" type="password" class="form-control" maxlength="20" autocomplete="off" placeholder="새 비밀번호를 한번 더 입력해 주세요." />
                    <small class="invalid-feedback"></small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary d-block w-100">변경하기</button>
                </div>
            </form>
        </div>
        <div class="mypage-content-wrapper">
            <div class="mypage-content-title">정보 수신 방법</div>
            <small class="text-muted">정보 수신은 웹, 이메일 형태로 수신되며 둘 다 받을 수 있습니다. <br/>
                알림은 교환 완료 또는 반품 완료 시, Q&A에 답변이 달린 경우, 주문 상태가 변경된 경우에 전달됩니다.</small>
            <div class="mt-2">
                <div class="form-check d-inline-block me-3">
                    <input id="receivingInfoByWeb" type="checkbox" class="form-check-input" th:checked="${account.receivingInfoByWeb}" />
                    <label class="form-check-label" for="receivingInfoByWeb">웹으로 수신</label>
                </div>
                <div class="form-check d-inline-block">
                    <input id="receivingInfoByEmail" type="checkbox" class="form-check-input" th:checked="${account.receivingInfoByEmail}" />
                    <label class="form-check-label" for="receivingInfoByEmail">이메일로 수신</label>
                </div>
            </div>
        </div>
        <div class="mypage-content-wrapper">
            <button type="button" id="signOutBtn" class="btn btn-link p-0" data-bs-toggle="modal"
                    data-bs-target="#signOutModal" style="color: #7f7f7f;">회원 탈퇴</button>
            <div id="signOutModal" class="modal fade" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            정말로 탈퇴하시겠습니까?<br />
                            탈퇴하면 기존의 정보는 모두 사라지게 됩니다.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                            <form th:action="@{'/sign-out'}" method="post">
                                <button type="submit" class="btn btn-danger">네</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: main-footer"></div>
<div th:include="fragments.html :: common-js-func" th:remove="tag"></div>
<div th:replace="fragments.html :: validate-user-info"></div>
<div th:replace="fragments.html :: ajax-csrf-header"></div>
<div th:replace="fragments.html :: ajax-feedback-message"></div>
<div th:include="fragments.html :: daum-address-api" th:remove="tag"></div>
<script type="application/javascript">
    $(function () {
        const $vcResendBtn = $("#vcResendBtn");

        const $name = $("#name");
        const $gender = $("#gender");
        const $birthday = $("#birthday");
        const $phoneNumber = $("#phoneNumber");
        const $address1 = $("#address1");
        const $address2 = $("#address2");
        const $address3 = $("#address3");
        const $nameFeedback = $name.siblings(".invalid-feedback");
        const $genderFeedback = $gender.siblings(".invalid-feedback");
        const $birthdayFeedback = $birthday.siblings(".invalid-feedback");
        const $phoneNumberFeedback = $phoneNumber.siblings(".invalid-feedback");
        const $addressBtn = $("#addressBtn");
        const $detailsForm = $("#detailsForm");

        const $currentPassword = $("#currentPassword");
        const $newPassword1 = $("#newPassword1");
        const $newPassword2 = $("#newPassword2");
        const $currentPasswordFeedback = $currentPassword.siblings(".invalid-feedback");
        const $newPassword1Feedback = $newPassword1.siblings(".invalid-feedback");
        const $newPassword2Feedback = $newPassword2.siblings(".invalid-feedback");
        const $passwordForm = $("#passwordForm");

        const $receivingInfoByWeb = $("#receivingInfoByWeb");
        const $receivingInfoByEmail = $("#receivingInfoByEmail");

        // 이메일 인증 처리
        $vcResendBtn.click(function () {
            $.ajax({
                method: "POST",
                url: "/resend/verification-code"
            }).done(function (data, status) {
                alert("이메일 인증 코드를 보냈습니다. 해당 이메일로 로그인해서 링크를 클릭해주세요.");
                $vcResendBtn.addClass('disabled');
            }).fail(function (jqXHR, textStatus, errorThrown) {
                setFeedback(jqXHR);
            });
        });

        // 주소 찾기 버튼 클릭시 주소 입력창 열기
        $addressBtn.click(execDaumPostcode);

        //개인 정보 변경 처리
        $detailsForm.submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            $nameFeedback.text("").css('display', 'none');
            $genderFeedback.text("").css('display', 'none');
            $birthdayFeedback.text("").css('display', 'none');
            $phoneNumberFeedback.text("").css('display', 'none');

            let formValid = true;

            if ($name.val() === "") {
                $nameFeedback.text("이름을 입력해주세요.").css('display', 'block');
                formValid = false;
            } else if (!validateName($name.val())) {
                $nameFeedback.text("영문자, 한글로 입력해주세요.").css('display', 'block');
                formValid = false;
            }

            if ($gender.val() === "") {
                $genderFeedback.text("성별을 선택해주세요.").css('display', 'block');
                formValid = false;
            }

            if ($birthday.val() === "") {
                $birthdayFeedback.text("생년월일을 선택해주세요.").css('display', 'block');
                formValid = false;
            } else if (!validateBirthday($birthday.val())) {
                $birthdayFeedback.text("올바른 생년월일 값을 선택해주세요.").css('display', 'block');
                formValid = false;
            } else if (!validateIfBeforeNow($birthday.val())) {
                $birthdayFeedback.text("과거의 값이어야 합니다.").css('display', 'block');
                formValid = false;
            }

            if ($phoneNumber.val() === "") {
                $phoneNumberFeedback.text("휴대폰번호를 입력해주세요.").css('display', 'block');
                formValid = false;
            } else if (!validatePhoneNumber($phoneNumber.val())) {
                $phoneNumberFeedback.text("(-) 없이 휴대폰번호 10자리 또는 11자리를 입력해주세요.").css('display', 'block');
                formValid = false;
            }

            if (formValid) {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/mypage/edit/info/details",
                    data: JSON.stringify({
                        "name": $name.val(),
                        "gender": $gender.val(),
                        "birthday": $birthday.val(),
                        "phoneNumber": $phoneNumber.val(),
                        "address1": $address1.val(),
                        "address2": $address2.val(),
                        "address3": $address3.val()
                    })
                }).done(function (data, status) {
                    alert("사용자 정보를 변경했습니다.");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setFeedback(jqXHR);
                });
            }
        });

        // 로그인 정보 변경 처리
        $passwordForm.submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            $currentPasswordFeedback.text("").css('display', 'none');
            $newPassword1Feedback.text("").css('display', 'none');
            $newPassword2Feedback.text("").css('display', 'none');

            let formValid = true;

            if ($currentPassword.val() === "") {
                $currentPasswordFeedback.text("현재 비밀번호를 입력하세요.").css('display', 'block');
                formValid = false;
            }

            if ($newPassword1.val() === "") {
                $newPassword1Feedback.text("새 비밀번호를 입력하세요.").css('display', 'block');
                formValid = false;
            } else if (!validatePassword($newPassword1.val())) {
                $newPassword1Feedback.text("영문자, 숫자, 특수문자를 반드시 포함하여 공백없이 8자 이상 입력해 주세요.").css('display', 'block');
                formValid = false;
            }

            if ($newPassword1.val() !== $newPassword2.val()) {
                $newPassword2Feedback.text("비밀번호가 일치하지 않습니다.").css('display', 'block');
                formValid = false;
            }

            if (formValid) {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/mypage/edit/info/password",
                    data: JSON.stringify({
                        "currentPassword": $currentPassword.val(),
                        "newPassword1": $newPassword1.val(),
                        "newPassword2": $newPassword2.val()
                    })
                }).done(function (data, status) {
                    $currentPassword.val("");
                    $newPassword1.val("");
                    $newPassword2.val("");
                    alert("비밀번호를 변경했습니다.");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setFeedback(jqXHR);
                });
            }
        });

        // 정보 수신 방법 변경 처리
        $receivingInfoByWeb.click(function (e) {
            $.ajax({
                method: "POST",
                url: "/mypage/edit/info/web-reception"
            });
        });

        $receivingInfoByEmail.click(function (e) {
            $.ajax({
                method: "POST",
                url: "/mypage/edit/info/email-reception"
            });
        });
    });
</script>

</body>
</html>