<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments.html :: head"></div>
<body>

<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div th:replace="fragments.html :: success-message"></div>
    <div class="form-content">
        <div class="paragraph-title">
            <h2>비밀번호 찾기</h2>
        </div>
        <form th:action="@{/find-password}" method="post" id="passwordFindForm" novalidate>
            <div class="form-group">
                <label for="email">이메일</label>
                <input name="email" id="email" type="email" class="form-control" placeholder="이메일을 입력해 주세요." maxlength="100" />
            </div>
            <div class="text-center mt-5">
                <small id="passwordFindFeedback" class="invalid-feedback" th:text="${errorMessage}"></small>
            </div>
            <div class="form-group mt-0">
                <button type="submit" class="btn btn-success d-block w-100">본인인증하기</button>
            </div>
            <div class="mt-5">
                <hr />
                <small class="text-muted">인증메일은 자주 보낼 수 없으니 유의해주세요.</small>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments.html :: main-footer"></div>
<div th:include="fragments.html :: common-js-func" th:remove="tag"></div>
<script type="application/javascript">
    $(function () {
        const $email = $("#email");
        const $passwordFindFeedback = $("#passwordFindFeedback");
        const $passwordFindForm = $("#passwordFindForm");

        $passwordFindFeedback.css('display', 'block');
        $passwordFindForm.submit(function (e) {
            $passwordFindFeedback.css('display', 'none');

            if ($email.val() === "") {
                processInvalidState("이메일을 입력해주세요.", e);
            } else if (!validateEmail($email.val())) {
                processInvalidState("이메일 형식이어야 합니다.", e);
            }
        });

        function validateEmail(email) {
            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return regex.test(email);
        }

        function processInvalidState(message, event) {
            $passwordFindFeedback.text(message).css('display', 'block');
            event.preventDefault();
            event.stopPropagation();
        }
    });
</script>

</body>
</html>